{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block cssLink %}
    <style type="text/css">
        {#轮播图设置#}
        .carousel-indicators {
            bottom: 6px;
        }

        .carousel {
            margin-bottom: 15px;
            z-index: 1;
        }

        .carousel-inner {
            width: 100%;
            max-height: 200px;
        }

        .carousel-inner .item a {
            display: block;
            text-align: center;
        }

        .carousel-inner .item img {
            margin: 0 auto;
            border-radius: 4px;
        }

        .carousel-control.left, .carousel-control.right {
            background: none;
        }

        .carousel-control {
            width: 40px;
            height: 80px;
            top: 50%;
            margin-top: -40px;
        }

        .carousel-control:hover {
            background-color: #000;
            opacity: .5;
            filter: alpha(opacity=50);
            color: #fff;
        }
    </style>
{% endblock %}
{% block container %}
    <section class="container">
        <div class="content-wrap">
            <div class="content">
{#                <div id="focusslide" class="carousel slide" data-ride="carousel">#}
{#                    <ol class="carousel-indicators">#}
{#                        <li data-target="#focusslide" data-slide-to="0" class="active"></li>#}
{#                        <li data-target="#focusslide" data-slide-to="1"></li>#}
{#                        <li data-target="#focusslide" data-slide-to="2"></li>#}
{#                    </ol>#}
{#                    <div class="carousel-inner" role="listbox">#}
{#                        <div class="item active">#}
{#                            <a href="#" target="_blank" title="木庄网络博客源码">#}
{#                                <img src="{% static 'blog/images/201610181557196870.jpg' %}" alt="木庄网络博客源码"#}
{#                                     class="img-responsive"></a>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <a href="#" target="_blank" title="专业网站建设">#}
{#                                <img src="{% static 'blog/images/201610241227558789.jpg' %}" alt="专业网站建设"#}
{#                                     class="img-responsive"></a>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <a href="#" target="_blank" title="专业网站建设">#}
{#                                <img src="{% static 'blog/images/201610241227558789.jpg' %}" alt="专业网站建设"#}
{#                                     class="img-responsive"></a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">#}
{#                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">上一个</span>#}
{#                    </a> <a class="right carousel-control" href="#focusslide" role="button" data-slide="next"#}
{#                            rel="nofollow"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
{#                    <span class="sr-only">下一个</span> </a></div>#}
                {% if pushArticle %}
                    <article class="excerpt-minic excerpt-minic-index">
                        <h2><span class="red">【推荐】</span><a target="_blank" href="#" title="用DTcms做一个独立博客网站（响应式模板）">用DTcms做一个独立博客网站（响应式模板）</a>
                        </h2>
                        <p class="note">用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms
                            V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）</p>
                    </article>
                {% else %}
                    <article class="excerpt-minic excerpt-minic-index">
                        <h2><span class=>没有推荐</span></h2>
                    </article>
                {% endif %}
                <div class="title">
                    <h3>最新发布</h3>
                    {% if categoryList %}
                        <div class="more">
                            {% for catogory in categoryList %}
                                <a href="#" title="{{ catogory.name }}">{{ catogory.name }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="more">没有分类</div>
                    {% endif %}

                </div>
                {% include 'blog/include/content.html' %}
            </div>
        </div>
        <aside class="sidebar">
            {% include 'blog/include/lastArticle.html' %}
            {% include 'blog/include/friendLink.html' %}
        </aside>
    </section>
{% endblock %}
{% block script %}
    <script>
        // ias滚动分页
        jQuery.ias({
            history: false,
            container: '.content',
            item: '.excerpt',
            pagination: '.pagination',
            next: '.next-page a',
            trigger: '查看更多',
            loader: '<div class="pagination-loading"><img src="{% static 'blog/images/loading.gif' %}" /></div>',
            triggerPageThreshold: 3,

        });
    </script>
    {#    onRenderComplete: function() {#}
    {#            $('.excerpt .thumb').lazyload({#}
    {#                placeholder: '../images/occupying.png',#}
    {#                threshold: 400#}
    {#            });#}
    {#            $('.excerpt img').attr('draggable', 'false');#}
    {#            $('.excerpt a').attr('draggable', 'false')#}
    {#        }#}
{% endblock %}
