{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block container%}
    <section class="container">
<div class="content-wrap">
<div class="content">
  <div class="title">
	<h3 style="line-height: 1.3">MZ-NetBlog主题</h3>
  </div>
  {% include 'blog/include/content.html' %}
</div>
</div>
<aside class="sidebar">
<div class="fixed">
    {% include 'blog/include/search.html' %}
    {% include 'blog/include/tagCloud.html' %}
</div>
{% include 'blog/include/lastArticle.html' %}
{% include 'blog/include/ad.html' %}
</aside>
</section>
{% endblock %}