<div class="widget widget_sentence">
	<h3>标签云</h3>
	<div class="widget-sentence-content">
		<ul class="plinks ptags">
            {% for tag in tagList %}
                <li><a href="#list/67/" title="{{ tag.name }}" draggable="false">{{ tag.name }} <span class="badge">{{ tag.article.count }}</span></a></li>
            {% endfor %}
			<li><a href="#list/67/" title="移动统计" draggable="false">移动统计 <span class="badge">1</span></a></li>
			<li><a href="#list/256/" title="404" draggable="false">404 <span class="badge">1</span></a></li>
			<li><a href="#list/252/" title="VS2010" draggable="false">VS2010 <span class="badge">1</span></a></li>
			<li><a href="#list/162/" title="杀毒软件" draggable="false">杀毒软件 <span class="badge">1</span></a></li>
			<li><a href="#list/133/" title="html标签" draggable="false">html标签 <span class="badge">1</span></a></li>
			<li><a href="#list/49/" title="循环" draggable="false">循环 <span class="badge">2</span></a></li>
			<li><a href="#list/22/" title="百度统计" draggable="false">百度统计 <span class="badge">2</span></a></li>
			<li><a href="#list/132/" title="sql" draggable="false">sql <span class="badge">6</span></a></li>
		</ul>
	</div>
</div>